{# templates/partials/_navbar.html  (now a sidebar offcanvas) #}
<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarNav" aria-labelledby="sidebarNavLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarNavLabel">Navigation</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body p-0">
    <nav class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action" href="{% url 'core:about' %}">About</a>
      <a class="list-group-item list-group-item-action" href="{% url 'core:dashboard' %}">Dashboard</a>
    </nav>
  </div>
</div>