<!-- templates/accounts/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="mt-12">
    <div class="grid grid-cols-12 justify-center">
        <div class="col-span-12 md:col-span-6 text-center">
            <div class="sbl-card">
                <div class="p-5">
                    <h2>Password Reset Complete</h2>
                    <p class="text-lg text-warm-700 mt-4">Your password has been set successfully.</p>
                    <a href="{% url 'login' %}" class="sbl-btn sbl-btn-primary">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
