<!-- templates/accounts/password_reset_done.html -->
{% extends 'base.html' %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}
<div class="mt-12">
    <div class="grid grid-cols-12 justify-center">
        <div class="col-span-12 md:col-span-6 text-center">
            <div class="sbl-card">
                <div class="p-5">
                    <h2>Check Your Email</h2>
                    <p class="text-lg text-warm-700 mt-4">We've sent you instructions to reset your password.</p>
                    <p>If you don't receive an email, please check your spam folder.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
